<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive----google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />


<style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Blue;
      font-family: sans-serif;
      }
    </style>
    <style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Blue;
      font-family: sans-serif;
      }
    </style>
</head>

<body>

    <!-- Navbar -->
            <nav class="navbar bg-blue p-lg-4 p-2">
               <div class="d-flex ">
                 <!-- Sidebar Menu -> Open Button -->
                 <button class="btn border border-danger-subtle wow animate__animated animate__fadeInLeft animate__delay-1s" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#fff" class="bi bi-menu-button-wide-fill" viewBox="0 0 16 16"><path fill="url(#PMWUiMSnUf2R_PPJ6rqZea_44112_gr1)" d="M1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1zm9.927.427A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0l-.396-.396zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/></svg>
                </button>
                <!-- sidebar menu -->
                <div class="offcanvas offcanvas-start bg-dark-subtle " data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header d-block">
                    <div class="justify-content-end align-items-end d-flex">
                        <button type="button bg-dark " class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="d-flex ">
                        <!-- logo -->
                        <img src="https://i.ibb.co/9w79yg5/IMG-20231228-140603-266.jpg" width="80" height="80" class="rounded" style="box-shadow: 3px 5px 11px black;" alt="">
                        <div class="p-3">
                            <h4 class="offcanvas-title font-semibold wow animate__animated animate__fadeInLeft " id="offcanvasWithBothOptionsLabel" style="text-shadow: 3px 5px 11px black;" >TEAM MALLU SERIAL GROUP</h4>
                            <p class="text-red-600 font-semibold wow animate__animated animate__fadeIn animate__delay-1s animate__infinite">Streaming Website</p>
                        </div>
                    </div>



                                        <a href="https://t.me/Asianet_serial_HPM" target="_blank" class="btn btn-primary w-100 text-light fw-semibold flex justify-center items-center gap-2 mt-2 wow animate__animated animate__fadeInDown  ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                    </svg>   
                     Follow On Telegram
                    </a>
                    <div class="d-flex gap-1 px-1 mt-1 wow animate__animated animate__fadeInLeft animate__delay-1s ">
                        <a href="https://t.me/+nT0Hza6688phNjVl" target="_blank" class="btn btn-secondary w-50 text-light fw-semibold flex justify-center items-center gap-2 text-xs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                          </svg>
                         Updates
                        </a>
                    </div>
                </div>
                <div class="offcanvas-body">
                    <div class="wow animate__animated animate__fadeInLeft ">
                        <h2 class="font-semibold" style="text-shadow: 1px 2px 8px black;">Explore</h2>
                    </div>
                    <div class=" d-block px-5 wow animate__animated animate__fadeInRight ">
                        <a href="https://t.me/Asianet_serial_HPM4" type="button" class="btn btn-outline-secondary w-100 mt-1 wow animate__animated animate__fadeIn ">OUR SERIAL GROUP</a>
                        <a href="https://t.me/GTDulquarbot" type="button" class="btn btn-outline-secondary w-100 mt-1">OUR SERIAL BOT</a>


                        <a href="https://t.me/+KfhD0nkKvhdmNjc1" type="button" class="btn btn-outline-secondary w-100 mt-1">MOVIE CHANNEL</a>
                        <a href="https://t.me/+whVIAS400c02ZjVl" type="button" class="btn btn-outline-secondary w-100 mt-1">JOIN OUR SERIAL BACKUP GROUP</a>
                    </div>
                 <<<   --BAR----------------------->
    <header>
        <marquee bgcolor="#f7f305"
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
</marquee>
    </header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>

    <footer>
     <center><h4>Video not playing? Possibly because your browser or the player doesn't support codec. Please download and watch.</h4></center>
     
    </footer>
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
 <script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
</body>
</html>

